<p>Hello,
    <b>{{ name }}</b>
    thanks for registering on {{ appName }},
    click on the link to activate your account:
    <a href='{{ server }}/activate/{{ temporarytoken }}'>Validate</a>
</p>
